body {
  margin: 0;

  /* display: block; */
  width: 100vw;
  /* height: 100vh; */
  /* position: relative; */
}
.container,
.container-party {
  display: flex;
  position: relative;
  justify-content: center;
  /* width: 1200px; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* padding-top: 50px; */
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-party {
  z-index: -1;
}
.bg {
  overflow: hidden;
  position: absolute;
  top: 0;
  height: 100%;
  z-index: -2;
}
.bg > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-image {
  /* position: relative; */
  overflow: hidden;
  position: absolute;
  top: 0;
  /* left: 0; */
  /* background-image: url(../images/ksu-min.png); */
  /* background-size: contain;
  background-repeat: no-repeat; */
  width: 100%;
  height: 100vh;
  /* height: 200px; */
  z-index: -1;
  opacity: 0;
  transition: opacity 550ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bg-image.action {
  opacity: 1;
}

.bg-party {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  top: 4%;

  width: 170px;
  justify-content: center;
}
.bg-party2 {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  bottom: 4%;

  width: 170px;
  justify-content: center;
}

.title-image {
  position: absolute;
  bottom: 3%;
  z-index: 1;
  /* left: 50px;
  right: 50px; */
  transform: scale(0);
  transition: transform 5500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-image.action {
  transform: scale(1);
}

.baloons-image {
  position: absolute;
  bottom: 0;
  /* left: 50px;
  right: 50px; */

  transform: translateY(100%);
  transition: transform 5500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 5500ms;
  /* overflow: hidden; */
  /* visibility: hidden; */
}

.baloons-image.action {
  transform: translateY(-300%);
  visibility: visible;
}

.petard-image {
  width: 150px;
  position: absolute;
  top: 35%;
  right: 0;
  transform: scale(0);
  transition: transform 5500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 10000ms;
}
.petard-image.action {
  transform: scale(1);
}

.petard-image-rotated {
  width: 150px;
  position: absolute;
  top: 35%;
  left: 0;
  transform: scale(0);
  transition: transform 5500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 10000ms;
}
.petard-image-rotated.action {
  transform: scale(1);
  transform: scale(-1, 1);
}

.tape-image-right {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(100%, -100%);
  transition: transform 15000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 8000ms;
}
.tape-image-right.action {
  transform: translate(70%, 0);
}

.tape-image-left {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%, -100%);
  transition: transform 15000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 8000ms;
}
.tape-image-left.action {
  transform: translate(-70%, 0);
}

.bg-image > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-party > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cat1 {
  position: absolute;
  top: 2%;
  left: 2%;
}
.cat2 {
  position: absolute;
  top: 2%;
  right: 2%;
}
.cat3 {
  position: absolute;
  bottom: 2%;
  left: 2%;
}
.cat4 {
  position: absolute;
  bottom: 30%;
  right: 2%;
}
.cat5 {
  position: absolute;
  top: 30%;
  right: 2%;
}
.dog1 {
  position: absolute;
  bottom: 2%;
  right: 2%;
}
.dog2 {
  position: absolute;
  top: 30%;
  left: 2%;
}
.dog3 {
  position: absolute;
  bottom: 30%;
  left: 2%;
}

.container-party img {
  border: 1px solid tomato;
}
.img {
  display: block;
  width: 100%;
  height: 100%;
}

.img-party {
  display: block;
  width: 100px;
  height: 100px;
}

.button-action {
  position: absolute;
  bottom: 50%;
  /* left: 50%; */
  justify-content: center;

  opacity: 1;
  visibility: visible;
  transition: opacity 550ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 550ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-action.action {
  opacity: 0;
  visibility: hidden;
}
.button-repeat {
  position: absolute;
  bottom: 50%;
  right: 2%;

  transform: translateX(200%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 32000ms;
}
.button-repeat.action {
  transform: translateX(0);
}
.button-party {
  position: absolute;
  bottom: 50%;
  left: 2%;
  transform: translateX(-200%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 32000ms;
}
.button-party.action {
  transform: translateX(0);
}
.audio {
  position: absolute;
  top: 0;
  /* width: 50px; */
}
/* 
.title-image {
  position: absolute;
  background-image: url('../images/klipartz.com.png');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
 
} */

/* @media screen and (min-width: 320px) {
  body {
    padding-left: 20px;
    padding-right: 20px;
    width: 320px;
  }
} */

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  opacity: 0;
}
